.mdx-container {
    background: url("/images/home_bg.jpg") no-repeat center;
    background-size: cover;
}

.mdx-hero {
    color: var(--md-primary-bg-color);
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 1rem;
}

.mdx-hero h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mdx-hero__content {
    padding-bottom: 4rem;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.mdx-hero__content p {
    font-size: 1.2rem;
    padding: 0 3rem;
    line-height: 1.6;
}

.mdx-hero .image-container img {
    width: 120px;
}

.mdx-hero .md-button {
    color: #ffffff;
    border-color: var(--md-accent-bg-color);
    margin-right: .5rem;
    margin-top: .5rem;
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

.mdx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color);
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-accent-bg-color);
}

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
  
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 200px;
}
  
.team-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    box-shadow: 2px 2px 10px rgba(70, 70, 70, 0.2);
}
  
.team-info {
    text-align: center;
    margin-top: 10px;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 59.8%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 599px) {
    /* Smaller screens */
    .mdx-hero .image-container img {
        width: 60px;
    }

    .mdx-hero h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .mdx-hero__content p {
        font-size: 0.9rem;
        padding: 0 0.5rem;
        line-height: 1.3;
    }

    .responsive-iframe-container {
        padding-bottom: 65.8%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    /* Tablet screens */
    .mdx-hero .image-container img {
        width: 80px;
    }

    .mdx-hero h1 {
        font-size: 1.8rem;
    }

    .mdx-hero__content p {
        padding: 0 2rem;
        line-height: 1.5;
    }

    .responsive-iframe-container {
        padding-bottom: 62.8%;
    }
}

@media screen and (min-width: 1024px) {
    /* Larger screens */
    .mdx-hero__content p {
        padding: 0 4rem;
    }
}